.ipdb
.pdb
.db
.d
.ipch
.opendb
.DS_store
visualstudio/visualstudio/Debug
visualstudio/visualstudio/Release
visualstudio/VS2015/Debug
visualstudio/VS2015/Release
visualstudio/VS2015/visualstudio.vcxproj.user
visualstudio/.vs/visualstudio/v17/.suo
visualstudio/VS2015/visualstudio.vcxproj
*.ipch
*.db
.vs
game.pdb


visualstudio/VS2015/visualstudio.vcxproj
